---
title: Recovering lost Notion data
description: Learn how you can recover lost Notion workspaces, databases, pages, objects or roll back previous changes.
image: https://notionbackups.com/assets/images/neoclassical-archival-room.png
kind: article
created_at: 2023-06-18
updated_at: 2025-11-18
---

<% content_for :head do %>
  <meta name="robots" content="max-image-preview:large">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@id": "https://notionbackups.com/recover-lost-notion-data",
    "@type": "TechArticle",
    "headline": "<%= item[:title] %>",
    "datePublished": "<%= item[:created_at] %>",
    "dateModified": "<%= item[:updated_at] %>",
    "image": "<%= item[:image] %>",
    "description": "<%= item[:description] %>",
    "inLanguage": "en-US",
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "author": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>

<% end %>

<article class="lg:flex px-4 mt-24 mb-12 sm:px-6 lg:px-8">
  <div class="h-screen w-52 sticky top-0 mx-2 my-4 py-2 hidden lg:block">
    <nav>
      <p class="m-1 text-gray-600 text-base">Contents</p>
        <ol class="text-sm">
          <li><a href="#finding-deleted-pages" class="underline p-1 inline-block">Finding deleted pages</a></li>
          <li><a href="#reverting-page-changes" class="underline p-1 inline-block">Reverting page changes</a></li>
          <li><a href="#recovering-deleted-items" class="underline p-1 inline-block">Recovering deleted items</a></li>
          <li><a href="#missing-workspace" class="underline p-1 inline-block">Missing workspace</a></li>
          <li><a href="#missing-pages-blocks" class="underline p-1 inline-block">Missing pages or blocks</a></li>
          <li><a href="#notion-is-down" class="underline p-1 inline-block">Notion is down</a></li>
          <li><a href="#notion-not-loading" class="underline p-1 inline-block">Notion not loading</a></li>
          <li><a href="#extracting-backups" class="underline p-1 inline-block">Extracting backups</a></li>
          <li><a href="#making-regular-backups" class="underline p-1 inline-block">Making regular backups</a></li>
        </ol>
    </nav>
  </div>

<div class="max-w-screen-md mx-auto">

<h1 class="mt-2 text-center">
  Recovering Your Lost Notion Data
</h1>

<p class="mt-6 text-base text-gray-600 text-center">Updated: <time datetime="<%= item[:updated_at] %>"><%= item[:updated_at].strftime("%B %-d, %Y") %></time></p>

<p class="mt-8">Data loss is terrible, especially when it involves valuable information you've meticulously organized on Notion. It could be a single page, a database, or your entire workspace that has gone missing.</p>

<p class="mt-8">Notion stores user data in the US data centers managed by Amazon Web Services (AWS), one of the leading cloud service providers worldwide. While Notion does keep backups of your data, in rare instances data might go missing.</p>

<p class="mt-8">This guide will provide you with a variety of solutions to recover your lost data.</p>

<h2 class="my-8" id="finding-deleted-pages">Finding deleted pages</h2>

<p class="mt-8">The first step when you notice that a page is missing is to check the Trash. Notion automatically moves deleted pages to the Trash, acting as a temporary archive that you can recover from.</p>

<p class="mt-8">You can find the <a href="https://www.notion.so/help/duplicate-delete-and-restore-content#find-pages-in-trash" class="underline" target="_blank" rel="noopener">Trash</a> in the left-hand sidebar of your workspace. Deleted pages remain in the Trash indefinitely until you explicitly delete them. However, starting on June 17, 2024, pages that have been in the Trash for more than 30 days will be automatically deleted.</p>

<img src="/assets/images/notion-trash-pages.png" alt="Trash section in Notion, displaying deleted pages" class="shadow-lg rounded-lg my-8 mx-auto w-4/5 border border-gray-200" loading="lazy">

<p class="mt-8">You can also access this section by opening the <span class="font-bold text-gray-900">···</span> menu in the upper-right corner, and then clicking on the "Deleted pages" button.</p>

<h2 class="my-8" id="reverting-page-changes">Reverting back page changes</h2>

<p class="mt-8">Another feature Notion provides to help recover lost data is the Page History. Notion saves your data automatically, creating per-minute backups of your page content on their server. This allows you to view and revert to previous versions of a page for up to 7 days on the free plan (longer on paid plans). It can come in handy when you've accidentally deleted a part of a page or made changes that you want to undo.</p>

<img src="/assets/images/notion-restore-page.png" alt="Page History section, allowing you to restore to previous versions of the page" class="shadow-lg rounded-lg my-8 mx-auto w-full border border-gray-200" loading="lazy">

<p class="mt-8">To access the <a href="https://www.notion.so/help/duplicate-delete-and-restore-content#page-history" class="underline" target="_blank" rel="noopener">Page History</a>, open the page you want to restore, click on the Updates icon <svg class="inline" viewBox="0 0 20 20" style="width:20px;height:20px"><path d="M10 18.2c4.5 0 8.2-3.7 8.2-8.1C18.2 5.7 14.5 2 10 2 5.6 2 2 5.7 2 10c0 4.5 3.7 8.2 8 8.2Zm0-1.7a6.4 6.4 0 0 1-6.4-6.4c0-3.6 2.9-6.5 6.5-6.5a6.5 6.5 0 1 1 0 13Zm-3.9-5.4h4c.3 0 .6-.3.6-.7v-5c0-.4-.3-.7-.6-.7-.4 0-.6.3-.6.6v4.5H6c-.3 0-.6.3-.6.6 0 .4.3.7.6.7Z"/></svg> or the <span class="font-bold text-gray-900">···</span> menu in the upper-right corner, and then click on the "View edit history" button. A sidebar will appear displaying the different versions of your page.</p>

<img src="/assets/images/notion-page-updates.png" alt="Updates section, showing all page updates" class="shadow-lg rounded-lg my-8 mx-auto w-full border border-gray-200" loading="lazy">

<h2 class="my-8" id="recovering-deleted-items">Recovering permanently deleted items</h2>

<p class="mt-8">If you've deleted a page from the Trash, it's gone from your account.</p>

<p class="mt-8">However, you can still recover it by <a href="https://www.notion.so/help" class="underline" target="_blank" rel="noopener">contacting Notion</a>; your data could be restored for up to 30 days after deletion.</p>

<h2 class="my-8" id="missing-workspace">Missing workspace</h2>

<p class="mt-8">Sometimes, workspaces can disappear after you log out and log back in.</p>

<p class="mt-8">Firstly, make sure you sign in with the same option you used when signing up. For example, if you signed up with your Google account, but attempt to access your account using the associated email (Gmail), you may be greeted with a blank workspace.</p>

<p class="mt-8">Secondly, if you have left the workspace, your private pages may be missing. If you were sharing the workspace with someone else (even if it was with another one of your accounts), ask them to invite you back. Once they do, you should see the workspace in the top-left corner, where you can find your private pages.</p>

<p class="mt-8">If you still can't access your workspace at all, or you've accidentally deleted it, reach out to <a href="https://www.notion.so/help" class="underline" target="_blank" rel="noopener">Notion's support</a> as soon as possible. <strong>DO NOT</strong> create a new account with the same email, as this email will be used for a restored account.</p>

<%= render '/_cta.html' %>

<h2 class="my-8" id="missing-pages-blocks">Missing pages or blocks</h2>

<p class="mt-8">Sometimes, pages or blocks may disappear suddenly. Usually, this resolves on its own after a while, but there are a few things you can try in the meantime.</p>

<p class="mt-8">Use the <a href="/guides/essential-notion-keyboard-shortcuts.html#quick-search" class="underline" target="_blank" rel="noopener">quick search</a> function to look for the missing page.</p>

<p class="mt-8">If your pages went missing after an update, try clearing your browser's cache.</p>

<p class="mt-8">If you're using the Notion app, try reloading it from View > Reload. If that doesn't work, try "Force Reload" from the same menu.</p>

<img src="/assets/images/notion-macos-app-view-reload.png" alt="Reloading Notion MacOS app view" class="shadow-lg rounded-lg my-8 mx-auto w-full border border-gray-200" loading="lazy">

<h2 class="my-8" id="notion-is-down">Notion is down</h2>

<p class="mt-8">Every once in a while, Notion stops working — you can't access your workspace, your changes don't get saved, and you're typically greeted with a message saying <em>"Something's not right"</em>, complete with a retry timer and debug info.</p>

<p class="mt-8">Firstly, make sure to check the <a href="https://status.notion.so/" class="underline" target="_blank" rel="noopener">Notion Status</a> to confirm it is truly down. Below are some common errors:</p>

<ul class="mt-8 text-xl text-gray-700 leading-8">
  <li class="mt-4"><a href="https://httpguides.com/status/400-bad-request" class="underline" target="_blank" rel="noopener">Http400: Bad Request</a> - Invalid data format. Try upgrading your app/browser version or changing your browser.</li>
  <li class="mt-4"><a href="https://httpguides.com/status/429-too-many-requests" class="underline" target="_blank" rel="noopener">Http429: Rate Limited</a> - You've reached the limits imposed by Notion. Try again later.</li>
  <li class="mt-4"><a href="https://httpguides.com/status/502-bad-gateway" class="underline" target="_blank" rel="noopener">Http502: Bad Gateway</a> or <a href="https://httpguides.com/status/504-gateway-timeout" class="underline" target="_blank" rel="noopener">Http504: Gateway Timeout</a> - Notion is experiencing temporary problems. Not much can be done on your end.</li>
</ul>

<p class="mt-8">If you have unsaved changes, keep the browser tab/Notion app open for a while to ensure they can be saved once Notion is up and running again.</p>

<h2 class="my-8" id="notion-not-loading">Notion won’t load at all</h2>

<p class="mt-8">If you can't load Notion from your browser, it could be a network/DNS issue. Try switching your DNS to 8.8.8.8 (Google DNS) or 1.1.1.1 (Cloudflare). Some corporate networks block Notion at the DNS level.</p>

<p class="mt-8">If the problem persists, try reinstalling the desktop app. You won't lose your data.</p>

<h2 class="my-8" id="extracting-backups">Extracting backups</h2>

<p class="mt-8">Notion exports backups in a zip archive. If you're getting the "The compressed (zipped) folder is invalid" error message with Windows' default archive extractor, consider using <a href="https://7-zip.org" class="underline" target="_blank" rel="noopener">7zip</a> instead.</p>

<h2 class="my-8" id="making-regular-backups">Making regular backups</h2>

<p class="mt-8">It's a good idea to regularly make backups of your workspace to avoid losing your data.</p>

<p class="mt-8">You can <a href="https://www.notion.so/help/export-your-content" class="underline" target="_blank" rel="noopener">export your content</a> in Markdown/CSV, HTML, and PDF formats from your workspace settings. Large or complex workspace exports can take time - up to several days. You can also export individual pages or databases from the <span class="font-bold">···</span> menu in the upper-right corner.</p>

<p class="mt-8">If you have some experience with programming, you can <a href="/guides/automated-notion-backup-api.html" class="underline" target="_blank">automate backups</a>.</p>

<p class="mt-8">Another way of making regular backups is to use <a href="https://notionbackups.com" class="underline">Notion Backups</a>, so you won't have to manually export and manage your backups.</p>

<%= render '/_cta.html' %>

</div>
</article>
