---
title: Automating Notion backups using Notion's API
description: Learn how to back up your Notion workspace data using Python and Notion's official API.
image: https://notionbackups.com/assets/images/printing-press-papers.png
kind: article
created_at: 2021-06-02
updated_at: 2025-10-04
---

<% content_for :head do %>
  <meta name="robots" content="max-image-preview:large">
  <link rel="alternate" hreflang="ru-RU" href="https://notionbackups.com/guides/ru/avtomatizaciya-bekapa-notion-s-pomoshyu-api">

  <script src="/assets/javascripts/highlight.min.js" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      hljs.highlightAll();

      const copyButtonLabel = "Copy";

      // use a class selector if available
      let blocks = document.querySelectorAll("pre");

      blocks.forEach((block) => {
        // only add button if browser supports Clipboard API
        if (navigator.clipboard) {
          let button = document.createElement("button");

          button.innerText = copyButtonLabel;
          block.appendChild(button);
          block.setAttribute("tabindex", 0);

          button.addEventListener("click", async () => {
            await copyCode(block, button);
          });
        }
      });

      async function copyCode(block, button) {
        let code = block.querySelector("code");
        let text = code.innerText;

        await navigator.clipboard.writeText(text);

        // visual feedback that task is completed
        button.innerText = "Copied";

        setTimeout(() => {
          button.innerText = copyButtonLabel;
        }, 900);
      }
    })
  </script>

  <link rel="stylesheet" href="/assets/stylesheets/apprentice.min.css">

  <style>
    pre {
      position: relative;
      overflow: auto;
    }

    pre code + button {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 0.25rem;
    }

    pre code + button:hover {
      cursor: pointer;
    }
  </style>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@id": "https://notionbackups.com/guides/automated-notion-backup-api",
    "@type": "TechArticle",
    "headline": "<%= item[:title] %>",
    "dependencies": "Python",
    "datePublished": "<%= item[:created_at] %>",
    "dateModified": "<%= item[:updated_at] %>",
    "image": "<%= item[:image] %>",
    "description": "<%= item[:description] %>",
    "proficiencyLevel": "Expert",
    "inLanguage": "en-US",
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "author": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>

<% end %>

<article class="block lg:flex px-4 mt-24 mb-12 sm:px-6 lg:px-8">
  <div class="h-screen w-52 sticky top-0 mx-2 my-4 py-2 hidden lg:block">
    <nav>
      <p class="m-1 text-gray-600 text-base">Contents</p>
        <ol class="text-sm">
          <li><a href="#create-integration" class="underline p-1 inline-block">Create integration</a></li>
          <li><a href="#share-pages" class="underline p-1 inline-block">Share pages</a></li>
          <li><a href="#query-data" class="underline p-1 inline-block">Query data</a></li>
          <li><a href="#store-data" class="underline p-1 inline-block">Store data</a></li>
          <li><a href="#cron-job-setup" class="underline p-1 inline-block">Set up a cron job</a></li>
          <li><a href="#further-improvements" class="underline p-1 inline-block">Further improvements</a></li>
        </ol>
    </nav>
  </div>

<div class="max-w-screen-md mx-auto">
  <h1 class="mt-2 text-center">
    Automating Backups with Notion's API
  </h1>

  <p class="mt-6 text-base text-gray-600 text-center">Updated: <time datetime="<%= item[:updated_at] %>"><%= item[:updated_at].strftime("%B %-d, %Y") %></time></p>

  <p class="mt-8">Backing up your data on a consistent schedule is like buying insurance: you think you don't need it until you need it. With <a class="underline" target="_blank" rel="noopener" href="https://www.notion.so">Notion</a> becoming a second brain and knowledge management for many folks and organizations alike, it's paramount to have consistent backups if things go south.</p>

  <p class="mt-8">Before an official <a class="underline" target="_blank" rel="noopener" href="https://developers.notion.com/">Notion API</a> became publicly available, you had two options when it came to backing up your Notion data:</p>
  <ul class="mt-8 text-xl text-gray-700 leading-8">
    <li class="mt-2"><a class="underline" target="_blank" rel="noopener" href="https://www.notion.so/help/back-up-your-data">Exporting Notion data manually</a> (which is easy to forget about)</li>
    <li class="mt-2">Using a <abbr title="Continuous integration">CI</abbr> service with Notion's private <abbr title="Application programming interface">API</abbr> (the private API is subject to change at any time without notice)</li>
  </ul>
  <p class="mt-8">Now that Notion's API is available, there's a more robust way of backing up your data.</p>

  <h2 class="my-8" id="create-integration">Step 1: Create an internal integration</h2>

  <p class="mt-8">Head over to <a class="underline" target="_blank" rel="noopener" href="https://www.notion.so/my-integrations">My integrations</a> page to create an internal integration. <a class="underline" target="_blank" rel="noopener" href="https://developers.notion.com/docs/getting-started">Notion's docs</a> give a good overview of the process.</p>

  <img src="/assets/images/notion-internal-integration.png" alt="Creating internal integration in Notion" class="shadow-lg rounded-lg my-8 mx-auto w-full md:w-3/5 border border-gray-200" loading="lazy">

  <p class="mt-8">Once you're done, grab your Internal Integration Secret (make sure you're the admin of that workspace). You will need it later to authenticate your API requests.</p>

  <h2 class="my-8" id="share-pages">Step 2: Share pages you want to back up</h2>

  <p class="mt-8">By default, your integration doesn't have access to any pages or databases. You have to manually add it to pages and databases you want to back up. You can grant access from the three-dot <span class="font-bold">···</span> menu in the upper-right corner of the page.</p>

  <img src="/assets/images/add-connections-menu.png" alt="Giving our connection access to the page" class="shadow-lg rounded-lg my-8 mx-auto w-full md:w-3/5 border border-gray-200" loading="lazy">

  <p class="mt-8">By granting your integration access to a specific page, you also gain access to its child pages and databases.</p>

  <p class="mt-8"><a class="underline" target="_blank" rel="noopener" href="https://developers.notion.com/docs/create-a-notion-integration">Notion's docs</a> cover this topic in more detail.</p>

  <h2 class="my-8" id="query-data">Step 3: Query data</h2>

  <p class="mt-8">Unless you intend to back up a specific page only, you'd want to grab all pages and databases. The Notion API exposes a <a class="underline" target="_blank" rel="noopener" href="https://developers.notion.com/reference/post-search">search</a> endpoint that returns the top-level pages and databases your integration has access to.</p>

  <pre><code>import requests

# replace INTERNAL_INTEGRATION_SECRET with your own secret token!
headers = {
  'Authorization': 'Bearer INTERNAL_INTEGRATION_SECRET',
  'Notion-Version': '2025-09-03',
  'Content-Type': 'application/json',
}

response = requests.post(
  'https://api.notion.com/v1/search',
  headers=headers,
)
</code></pre>

  <p class="mt-8">Keep in mind that the <a class="underline" target="_blank" rel="noopener" href="https://developers.notion.com/reference/post-search">search</a> endpoint doesn't return child pages. To grab them, you'll have to query for pages using the <a class="underline" target="_blank" rel="noopener" href="https://developers.notion.com/reference/get-block-children">retrieve block children</a> endpoint.</p>

<pre><code>for block in response.json()['results']:
  child_blocks = requests.get(
    f'https://api.notion.com/v1/blocks/{block["id"]}/children',
    headers=headers,
  )
</code></pre>

  <p class="mt-8">In large workspaces, results are more likely to be paginated. To obtain all items, you will have to recursively query the <a class="underline" target="_blank" rel="noopener" href="https://developers.notion.com/reference/post-search">search</a> endpoint until the <code>has_more</code> parameter returns <code>false</code>.</p>

  <h2 class="my-8" id="store-data">Step 4: Store data</h2>

  <p class="mt-8">One way of storing your Notion workspace data is to write top-level pages and databases to separate JSON files and write child pages under a directory named after their parent files.</p>

  <p class="mt-8">Here's how the final script looks like:</p>

<pre>
<code>import requests
import os
import datetime
import json

timestamp = datetime.datetime.now().strftime('%Y-%m-%d-%H-%M-%S')
folder = 'notionbackup_' + timestamp

os.mkdir(folder)

# replace INTERNAL_INTEGRATION_SECRET with your own secret token!
headers = {
  'Authorization': 'Bearer INTERNAL_INTEGRATION_SECRET',
  'Notion-Version': '2025-09-03',
  'Content-Type': 'application/json',
}

response = requests.post('https://api.notion.com/v1/search', headers=headers)

for block in response.json()['results']:
  with open(f'{folder}/{block["id"]}.json', 'w') as file:
    file.write(json.dumps(block))

  child_blocks = requests.get(
    f'https://api.notion.com/v1/blocks/{block["id"]}/children',
    headers=headers,
  )
  if child_blocks.json()['results']:
    os.mkdir(folder + f'/{block["id"]}')

    for child in child_blocks.json()['results']:
      with open(f'{folder}/{block["id"]}/{child["id"]}.json', 'w') as file:
        file.write(json.dumps(child))</code>
</pre>

  <h2 class="my-8" id="cron-job-setup">Step 5: Set up a cron job</h2>

  <p class="mt-8">Ideally, backups should be <em>set and forget</em>. Otherwise, you will probably forget about them.</p>

  <p class="mt-8">On UNIX-like systems (macOS, Linux, BSD), you can set up a cron job that will run a script at a specified interval.</p>

  <p class="mt-8">Before setting up a cron job, save this Python script on your machine. Then, create a cron entry:</p>

<pre><code>crontab -e</code></pre>

  <p class="mt-8">Crontab has a specific syntax, and there's plenty of material  <a href="https://crontab.guru/" target="_blank" rel="noopener" class="underline">on the Internets</a> about it. Let's say you want to run this script once every 6 hours. In the editor, opened by the previous command, paste the following:</p>

<pre><code>0 */6 * * * /usr/local/bin/python3 /full/path/to/notionbackup.py</code></pre>

  <p class="mt-8">This assumes that the Python script is called notionbackup.py and the Python interpreter is located in <code>/usr/local/bin/python3</code>. If unsure, you can locate the full path to the Python 3 interpreter:</p>

<pre><code>which python3</code></pre>

  <h2 class="my-8" id="further-improvements">Further improvements</h2>

  <p class="mt-8">While the above code covers most of your data, there are additional items you might want to back up, namely:</p>

  <ul class="mt-8 text-xl text-gray-700 leading-8">
    <li><a href="https://developers.notion.com/docs/working-with-files-and-media" class="underline" target="_blank" rel="noopener">Media files</a>
      <p class="m-4">This includes images, audio, video, and PDF files.</p>
    </li>
    <li><a href="https://developers.notion.com/docs/working-with-comments" class="underline" target="_blank" rel="noopener">Comments</a>
      <p class="m-4">Before fetching comments, you must first grant your integration the <a href="https://developers.notion.com/reference/capabilities#comment-capabilities" class="underline" target="_blank" rel="noopener">read comments</a> capability. As of this writing, Notion's API only returns the unresolved comments.</p>
    </li>
  </ul>

  <p class="mt-8">That's all, folks! You can find the full code <a href="https://github.com/NotionBackups/notion-backup-python" target="_blank" rel="noopener" class="underline">on Github</a>.</p>

  <p class="mt-8">You can also use <a href="/" target="_blank" class="underline">Notion Backups</a> to easily back up your Notion data to a cloud storage provider of your choice. That way, you don't have to worry about your Notion data being lost.</p>

  <%= render '/_cta.html' %>

  <hr class="my-8">

  <p class="mt-8"><em>This article is also available in <a href="/guides/ru/avtomatizaciya-bekapa-notion-s-pomoshyu-api.html" target="_blank" class="underline">Russian</a>.</em></p>
</div>
</article>
