---
title: Essential Notion Keyboard Shortcuts for Faster Workflow
description: Cheat sheet for essential and useful Notion keyboard shortcuts that will streamline your Notion workflow and make you more productive.
image: https://notionbackups.com/assets/images/typewriter-large-windows.png
kind: article
created_at: 2023-10-12
updated_at: 2025-01-24
---

<% content_for :head do %>
  <meta name="robots" content="max-image-preview:large">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@id": "https://notionbackups.com/guides/essential-notion-keyboard-shortcuts",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "<%= item[:created_at] %>",
    "dateModified": "<%= item[:updated_at] %>",
    "image": "<%= item[:image] %>",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "author": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>

  <script>
    // Function to detect the user's operating system
    const detectOS = () => {
      const userAgent = window.navigator.userAgent.toLowerCase();
      if (userAgent.includes('mac')) return 'mac';
      if (userAgent.includes('windows')) return 'windows';
      return 'others';
    }

    // Function to set the default option in the select box
    const setDefaultOption = () => {
      const osSelect = document.querySelector('#os-select');
      const userOS = detectOS();
      for (let i = 0; i < osSelect.options.length; i++) {
        if (osSelect.options[i].value === userOS) {
          osSelect.selectedIndex = i;
          break;
        }
      }
    }

    // Shortcut text mappings
    const shortcutMappings = {
      mac: {
        action1: '⌘ + K',
        action2: 'Shift + Enter',
        action3: '⌘ + Shift + Up',
        action4: '⌘ + Shift + Down',
        action5: '⌘ + Enter',
        action6: '⌘ + ⌥ + T',
        action7: '⌘ + Shift + U',
        action8: '⌘ + [',
        action9: '⌘ + ]',
        action10: '⌘ + D',
      },
      default: {
        action1: 'Ctrl + P',
        action2: 'Ctrl + Enter',
        action3: 'Ctrl + Shift + Up',
        action4: 'Ctrl + Shift + Down',
        action5: 'Ctrl + Enter',
        action6: 'Ctrl + Alt + T',
        action7: 'Ctrl + Shift + U',
        action8: 'Ctrl + [',
        action9: 'Ctrl + ]',
        action10: 'Ctrl + D',
      }
    };

    // Function to update keyboard shortcuts based on the selected OS
    const updateShortcuts = () => {
      const osSelect = document.querySelector('#os-select');
      const selectedOS = osSelect.options[osSelect.selectedIndex].value;
      const shortcuts = document.querySelectorAll('kbd');
      shortcuts.forEach(shortcut => {
        const action = shortcut.getAttribute('data-shortcut');
        const newText = shortcutMappings[selectedOS]?.[action] || shortcutMappings.default[action];
        if (newText) {
          shortcut.textContent = newText;
        }
      });
    }

    // Call the functions to set the default option and update the shortcuts
    document.addEventListener("DOMContentLoaded", () => {
      setDefaultOption();
      updateShortcuts();

      // Attach the updateShortcuts function to the onchange event of the select element
      document.querySelector('#os-select').addEventListener('change', updateShortcuts);
    })

  </script>

<% end %>

<article class="lg:flex px-4 mt-24 mb-12 sm:px-6 lg:px-8">
   <div class="h-screen w-54 sticky top-0 mx-2 my-4 py-2 hidden lg:block">
    <nav>
      <p class="m-1 text-gray-600 text-base">Contents</p>
        <ul class="text-sm">
          <li><a href="#quick-search" class="underline p-1 inline-block">Quick Search</a></li>
          <li><a href="#new-database-row" class="underline p-1 inline-block">New Database Row</a></li>
          <li><a href="#move-text-up-down" class="underline p-1 inline-block">Move Text Up or Down</a></li>
          <li><a href="#toggle-options" class="underline p-1 inline-block">Toggle Options</a></li>
          <li><a href="#navigate-to-upper-directory" class="underline p-1 inline-block">Navigate to Upper Directory</a></li>
          <li><a href="#move-between-pages" class="underline p-1 inline-block">Move Between Pages</a></li>
          <li><a href="#duplicate-block" class="underline p-1 inline-block">Duplicate Block</a></li>
        </ul>
    </nav>
  </div>


<div class="max-w-screen-md mx-auto">
  <h1 class="mt-2 text-center">
    Notion Keyboard Shortcuts for Faster Workflow
  </h1>

  <section class="border border-gray-300 p-4 mt-8 rounded-lg shadow-md sm:p-6">
    <p class="text-center">Choose your operating system to tailor shortcuts</p>

    <select id="os-select" class="mt-6 w-full md:w-1/2 mx-auto">
      <option value="mac">macOS</option>
      <option value="windows">Windows</option>
      <option value="others">Linux, BSD, or other</option>
    </select>
  </section>

  <p class="mt-8">Below are a few essential and useful Notion keyboard shortcuts that will streamline your workflow and make you more productive:</p>

  <h2 class="my-8" id="quick-search">Quick Search</h2>

  <pre><code><kbd data-shortcut="action1">Cmd/Ctrl + K/P</kbd></code></pre>

  <p class="mt-8">Activate the search bar to find pages, databases, or blocks. It may take a few seconds for results to appear.</p>

  <h2 class="my-8" id="new-database-row">New Database Row</h2>

  <pre><code><kbd data-shortcut="action2">Shift + Enter</kbd></code></pre>

  <p class="mt-8">Create a new row in a table or a database.</p>

  <h2 class="my-8" id="move-text-up-down">Move Text Up or Down</h2>

  <pre><code><kbd data-shortcut="action3">Cmd/Ctrl + Shift + Up</kbd></code></pre>
  <pre><code><kbd data-shortcut="action4">Cmd/Ctrl + Shift + Down</kbd></code></pre>

  <p class="mt-8">Reorder text blocks up or down. If you're moving checkboxes or list items, it will first attempt to place the item as the child element of the adjacent item before moving it up or down.</p>

  <h2 class="my-8" id="toggle-options">Toggle Options</h2>

  <pre><code><kbd data-shortcut="action5">Cmd/Ctrl + Enter</kbd></code></pre>

  <p class="mt-8">Open a toggle while editing or highlighting one.</p>

  <pre><code><kbd data-shortcut="action6">Cmd/Ctrl + Option/Alt + T</kbd></code></pre>

  <p class="mt-8">Open or close all toggles on a page.</p>

  <h2 class="my-8" id="navigate-to-upper-directory">Navigate to Upper Directory</h2>

  <pre><code><kbd data-shortcut="action7">Cmd/Ctrl + Shift + U</kbd></code></pre>

  <p class="mt-8">Navigate back to the upper directory.</p>

  <h2 class="my-8" id="move-between-pages">Move Between Pages</h2>

  <pre><code><kbd data-shortcut="action8">Cmd/Ctrl + [</kbd></code></pre>
  <pre><code><kbd data-shortcut="action9">Cmd/Ctrl + ]</kbd></code></pre>

  <p class="mt-8">Move between pages forward or backward.</p>

  <h2 class="my-8" id="duplicate-block">Duplicate Block</h2>

  <pre><code><kbd data-shortcut="action10">Cmd/Ctrl + D</kbd></code></pre>

  <p class="mt-8">Duplicate blocks for consistent layout or content reuse.</p>

  <%= render '/_cta.html' %>
</div>
</article>
