---
title: Are Notion pages private by default?
description: Understand Notion's default privacy settings for pages and workspaces. Learn how to make a page publicly accessible and the difference between Teamspace and Private pages.
image: https://notionbackups.com/assets/images/magnifying-glass-manuscript.png
kind: article
created_at: 2023-09-30
updated_at: 2023-10-09
---

<% content_for :head do %>
  <meta name="robots" content="max-image-preview:large">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@id": "https://notionbackups.com/guides/notion-pages-privacy",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "<%= item[:created_at] %>",
    "dateModified": "<%= item[:updated_at] %>",
    "image": "<%= item[:image] %>",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "author": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>

<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">
  <h1 class="mt-2 text-center">
    Are Notion Pages Private by Default?
  </h1>

  <p class="mt-6 text-base text-gray-600 text-center">Updated: <time datetime="<%= item[:updated_at] %>"><%= item[:updated_at].strftime("%B %-d, %Y") %></time></p>

  <p class="mt-8">One common question among Notion users, especially those who are just getting started, is about the privacy settings of Notion pages. Let's break it down.</p>

  <p class="mt-8">First things first, when you create a new Notion page, by default, its visibility is set to private. This means that only you can view and edit the page. But, if you create a page in a shared area like a workspace or teamspace, other members might see it too.</p>

  <h2 class="my-8">Can anyone outside of my workspace read Notion pages?</h2>

  <p class="mt-8">No, not unless you explicitly share or make the page public. By default, pages are private to you or the people within your workspace. However, Notion provides <a class="underline" href="https://www.notion.so/help/guides/understanding-notions-sharing-settings#different-ways-to-share-a-notion-page" target="_blank" rel="noopener">sharing options</a> that allow you to:

  <ul class="mt-8 text-xl text-gray-700 leading-8">
    <li>Share the page with specific or all members of your workspace</li>
    <li>Create a public link that anyone with the link can view</li>
    <li>Make the page <a href="#publicly-accessible" class="underline">discoverable by search engines</a></li>
  </ul>

  <p class="mt-8">Always double-check the share settings of a particular page if you're unsure about its visibility.</p>

  <h2 class="mt-8">What's the difference between Workspace, Teamspaces, Shared and Private sections?</h2>

  <h3 class="mt-8">Workspace</h3>

  <p class="mt-8">A Workspace in Notion serves as the main container for all your content. Think of it as the home or the overarching umbrella where your individual pages, databases, and other elements reside. Every user starts with a workspace, and depending on your goals, you can either keep your work within one workspace or create multiple ones, for different projects or aspects of your life. By default, the entirety of the workspace's content isn't accessible to others unless you invite them or make specific pages public.</p>

  <h3 class="mt-8">Teamspaces</h3>

  <p class="mt-8">This is a shared space where multiple members can collaborate. Any page created within a teamspace can be viewed and edited by members of that teamspace, depending on the permissions set by the admin. It's ideal for collaborative projects, team notes, or any content that requires input from multiple members. Within a teamspace, you can still set specific pages or sub-pages as private, limiting access to specific members or just yourself.</p>

  <h3 class="mt-8">Shared</h3>

  <p class="mt-8">Shared sections are specific pages or databases within a workspace or teamspace that you've chosen to share with particular individuals or groups. Unlike Teamspaces where every member typically has access to content, shared sections let you handpick who gets to see or edit a specific page. This granularity ensures that even within a broader collaborative environment, you can have controlled pockets of shared content.</p>

  <h3 class="mt-8">Private</h3>

  <p class="mt-8">Private pages are only accessible to the individual who created it, unless it's specifically shared with others. Even within a teamspace, you can create private pages that are shielded from other members. Think of it as your personal corner within a bustling office – your personal notes, drafts, or any information you're not ready (or don't need) to share.</p>

  <p class="mt-8">Furthermore, you can use <a class="underline" href="https://www.notion.so/help/guides/grant-access-teamspaces#use-custom-groups-to-adjust-permission-levels-for-multiple-people-at-once" target="_blank" rel="noopener">custom groups</a> to streamline management of page permissions and teamspace members. Teamspaces and groups work together, allowing for precise control over content accessibility based on roles, teams, and company levels.Create groups based on departments or roles, and manage access to pages and teamspaces more efficiently.</p>

  <p class="mt-8">In essence, while Notion's Workspace acts as a holistic container for content, Teamspaces foster collaboration, Shared sections give specificity to sharing, and Private sections maintain user privacy.</p>

  <h2 class="mt-8">Can Notion integrations read my pages?</h2>

  <p class="mt-8">When you grant an integration read access to a specific Notion page, it can access page content and all subpages nested under that page. This is critical to remember if your main page contains subpages with sensitive or private content. When authorizing an integration to your Notion workspace, you can grant access to just one individual page or multiple pages.</p>

  <p class="mt-8">It's worth noting that if you create new top-level pages, integrations won't automatically have access to them. You'd need to manually provide permissions for each new page you want the integration to access.</p>

  <h2 class="mt-8" id="publicly-accessible">How to make a Notion page publicly accessible?</h2>

  <p class="mt-8">If you wish to share your Notion page with anyone, you can create a shareable link for public access.

  <p class="mt-8">Additionally, if you  are subscribed to a Plus plan, you can make your pages discoverable by search engines, which could be useful if you're creating public documentation, a portfolio, or any content that you want to be easily discoverable online.</p>

  <img src="/assets/images/notion-search-engine-indexing.png" alt="Toggle switch to make public Notion pages indexable by search engines" class="shadow-lg rounded-lg my-8 mx-auto w-4/5 border border-gray-200" loading="lazy">

  <p class="mt-8">You can control who has access to your pages by setting <a class="underline" href="https://www.notion.so/help/sharing-and-permissions#how-to-edit-permissions" target="_blank" rel="noopener">different permission levels</a> such as <em>full access</em>, <em>can edit</em>, <em>can comment</em>, or <em>can view</em>. This way, you can easily grant the right level of access to different individuals or groups.</p>

  <h2 class="mt-8">Is it safe to store sensitive information in Notion?</h2>

  <p class="mt-8">While Notion provides robust sharing and permission settings, it's not end-to-end encrypted. Therefore, it's advisable not to store highly sensitive information, like personal identification numbers, confidential business data, or passwords, in Notion.</p>

  <%= render '/_cta.html' %>
</div>
</article>
