---
title: Essential Notion Keyboard Shortcuts for Faster Workflow
description: Essential and useful Notion keyboard shortcuts that will streamline your Notion workflow and make you more productive.
image: https://notionbackups.com/assets/images/magnifying-glass-manuscript.png
kind: article
created_at: 2023-10-12
updated_at: 2023-10-12
---

<% content_for :head do %>
  <meta name="robots" content="max-image-preview:large">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@id": "https://notionbackups.com/guides/essential-notion-keyboard-shortcuts",
    "@type": "TechArticle",
    "headline": "<%= @item[:title] %>",
    "datePublished": "<%= item[:created_at] %>",
    "dateModified": "<%= item[:updated_at] %>",
    "image": "<%= item[:image] %>",
    "description": "<%= @item[:description] %>",
    "inLanguage": "en-US",
    "copyrightHolder": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Notion Backups"
    },
    "author": {
      "@type": "Organization",
      "name": "Notion Backups"
    }
  }
  </script>

  <script>
    // Function to detect the user's operating system
    const detectOS = () => {
      const userAgent = window.navigator.userAgent.toLowerCase();
      if (userAgent.includes('mac')) return 'mac';
      if (userAgent.includes('windows')) return 'windows';
      if (userAgent.includes('linux') || userAgent.includes('x11')) return 'linux-bsd';
      return 'others';
    }

    // Function to set the default option in the select box
    const setDefaultOption = () => {
      const osSelect = document.querySelector('#os-select');
      const userOS = detectOS();
      for (let i = 0; i < osSelect.options.length; i++) {
        if (osSelect.options[i].value === userOS) {
          osSelect.selectedIndex = i;
          break;
        }
      }
    }

    // Shortcut text mappings
    const shortcutMappings = {
      mac: {
        action1: '⌘ + K',
        action2: '⌘ + Shift + Up',
        action3: '⌘ + Shift + Down',
        action4: '⌘ + Enter',
        action5: '⌘ + ⌥ + T',
        action6: '⌘ + Shift + U',
        action7: '⌘ + [',
        action8: '⌘ + ]',
        action9: '⌘ + Delete',
        action10: '⌘ + D',
        action11: '⌘ + Shift + M',
      },
      default: {
        action1: 'Ctrl + P',
        action2: 'Ctrl + Shift + Up',
        action3: 'Ctrl + Shift + Down',
        action4: 'Ctrl + Enter',
        action5: 'Ctrl + Alt + T',
        action6: 'Ctrl + Shift + U',
        action7: 'Ctrl + [',
        action8: 'Ctrl + ]',
        action9: 'Ctrl + Backspace',
        action10: 'Ctrl + D',
        action11: 'Ctrl + Shift + M',
      }
    };

    // Function to update keyboard shortcuts based on the selected OS
    const updateShortcuts = () => {
      const osSelect = document.querySelector('#os-select');
      const selectedOS = osSelect.options[osSelect.selectedIndex].value;
      const shortcuts = document.querySelectorAll('kbd');
      shortcuts.forEach(shortcut => {
        const action = shortcut.getAttribute('data-shortcut');
        const newText = shortcutMappings[selectedOS]?.[action] || shortcutMappings.default[action];
        if (newText) {
          shortcut.textContent = newText;
        }
      });
    }

    // Call the functions to set the default option and update the shortcuts
    document.addEventListener("DOMContentLoaded", () => {
      setDefaultOption();
      updateShortcuts();

      // Attach the updateShortcuts function to the onchange event of the select element
      document.querySelector('#os-select').addEventListener('change', updateShortcuts);
    })

  </script>

<% end %>

<article class="px-4 mt-24 mb-12 sm:px-6 lg:px-8">
<div class="max-w-prose mx-auto">
  <h1 class="mt-2 text-center">
    Essential Notion Keyboard Shortcuts for Faster Workflow
  </h1>

  <section class="border border-gray-300 p-6 mt-8 rounded-lg shadow-md">
    <p class="text-center">Choose your operating system below to tailor shortcuts</p>

    <select id="os-select" class="mt-6 w-1/2 mx-auto">
      <option value="windows">Windows</option>
      <option value="mac">Mac</option>
      <option value="linux-bsd">Linux/BSD</option>
      <option value="others">Others</option>
    </select>
  </section>

  <p class="mt-8">Below are a few essential and useful Notion keyboard shortcuts that will streamline your workflow and make you more productive:</p>

  <h2 class="my-8">Quick Search</h2>

  <pre><code><kbd data-shortcut="action1">Cmd/Ctrl + K/P</kbd></code></pre>

  <p class="mt-8">Activate the search bar to find pages, databases, or blocks. It may take a few seconds for results to appear.</p>

  <h2 class="my-8">Move Text Up or Down</h2>

  <pre><code><kbd data-shortcut="action2">Cmd/Ctrl + Shift + Up</kbd></code></pre>
  <pre><code><kbd data-shortcut="action3">Cmd/Ctrl + Shift + Down</kbd></code></pre>

  <p class="mt-8">Reorder text blocks up or down. If you're moving checkboxes or list items, it will first attempt to place the item as the child element of the adjacent item before moving it up or down.</p>

  <h2 class="my-8">New Row</h2>

  <pre><code><kbd>Shift + Enter</kbd></code></pre>

  <p class="mt-8">Create a new row in a table.</p>

  <h2 class="my-8">Toggle Options</h2>

  <pre><code><kbd data-shortcut="action4">Cmd/Ctrl + Enter</kbd></code></pre>

  <p class="mt-8">Open a toggle while editing or highlighting one.</p>

  <pre><code><kbd data-shortcut="action5">Cmd/Ctrl + Option/Alt + T</kbd></code></pre>

  <p class="mt-8">Open or close all toggles on a page.</p>

  <h2 class="my-8">Navigate to Upper Directory</h2>

  <pre><code><kbd data-shortcut="action6">Cmd/Ctrl + Shift + U</kbd></code></pre>

  <p class="mt-8">Navigate back to the upper directory.</p>

  <h2 class="my-8">Move between pages</h2>

  <pre><code><kbd data-shortcut="action7">Cmd/Ctrl + [</kbd></code></pre>
  <pre><code><kbd data-shortcut="action8">Cmd/Ctrl + ]</kbd></code></pre>

  <p class="mt-8">Move between pages forward or backward.</p>

  <h2 class="my-8">Delete Block</h2>

  <pre><code><kbd data-shortcut="action9">Cmd/Ctrl + Delete/Backspace</kbd></code></pre>

  <p class="mt-8">Remove the content of the block. When pressed twice, remove the block completely.</p>

  <h2 class="my-8">Duplicate Block</h2>

  <pre><code><kbd data-shortcut="action10">Cmd/Ctrl + D</kbd></code></pre>

  <p class="mt-8">Duplicate blocks for consistent layout or content reuse.</p>

  <h2 class="my-8">Insert a comment</h2>

  <pre><code><kbd data-shortcut="action11">Cmd/Ctrl + Shift + M</kbd></code></pre>

  <p class="mt-8">Insert a comment to the highlighted/focused element.</p>

  <div class="mt-8 bg-gray-900 p-12 rounded-lg">
    <p class="mb-8 text-white text-center">Back up your Notion workspaces today</p>
    <a href="https://app.notionbackups.com/signup/new" class="button p-4 text-base hover:shadow-button duration-300 focus:ring-0">
      Get started
    </a>
  </div>
</div>
</article>
